@import '../../assets/variables.scss';

.search-input {
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background: #ececec;

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: #000;
  }
}
